{% load static %}

<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menu</title>
        <link rel="stylesheet" href="{% static 'game/css/menu.css' %}">
        <link rel="icon" href="{% static 'game/images/logo.png' %}">

    </head>
    <body>
<!--        <video class="background-video" autoplay muted loop playsinline>-->
<!--            <source src="{% static 'game/images/teal-neon-border-background.mp4' %}" type="video/mp4">-->
<!--        </video>-->
        <div class="settings-button">
            <img src="{% static 'game/images/engrenage.png' %}" alt="Paramètres">
        </div>

        <div class="dashboard-button">
            <img src="{% static 'game/images/trophee.png' %}" alt="Dashboard">
        </div>

        <h1>Choisissez votre mode de jeu</h1>
        <br>
        <div class="menu-buttons">
            <a href="{% url 'modeSolo' %}">
                <button class="menu-button">Solo</button>
            </a>
            <a href="{% url 'modeDuel' %}">
                <button class="menu-button">Duel</button>
            </a>
            <a href="{% url 'modeCollaboratif' %}">
                <button class="menu-button">Collaboratif</button>
            </a>
        </div>
    </body>
</html>
